.newProduct {
  flex: 4;
  margin-left: 100px;
}

.addProductForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin-top: 10px;
}

.addProductItem {
  width: 350px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductItem > label {
  color: gray;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.addProductItem > input {
  padding: 10px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

.addProductItem > select {
  width: 100px;
  padding: 10px;
}

.addProductButton {
  width: 350px;
  margin-top: 20px;
  padding: 7px 10px;
  border: none;
  border-radius: 15px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.addProductTitle {
  margin-top: 10px;
}
